extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
block main 
    h1(class="mb-4") #{pageTitle}

    form(
        action=`${prefixAdmin}/songs/create`, 
        id="form-create-song"
        method="POST" 
        enctype="multipart/form-data") 
        .form-group 
            label(for="title") Tiêu đề
            input(
                type="text", 
                class ="form-control"
                id="title"
                name="title"
                required
                )
        .form-group 
            label(for="topicId") Chủ đề
            select(
                name="topicId"
                id="topicId"
                class="form-control"
                required
            )
                option(value="" disabled selected) -- Chọn chủ đề --
                each item in topics 
                    option(value=item.id) #{item.title} 
                
        .form-group 
            label(for="singerId") Ca sĩ
            select(
                name="singerId"
                id="singerId"
                class="form-control"
                required
            )
                option(value="" disabled selected) -- Chọn ca sĩ --
                each item in singers 
                    option(value=item.id) #{item.fullName} 
                
        .form-group(upload-image)
            label(for="avatar") Ảnh
            input(
                type="file", 
                class ="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
                )
            img(src="" upload-image-preview 
                class="image-preview"
                )
        .form-group(upload-audio)
            label(for="audio") File âm thanh
            input(
                type="file", 
                class ="form-control-file"
                id="audio"
                name="audio"
                accept="audio/*"
                upload-audio-input
                )
            audio(controls upload-audio-play)
                source(src="") 
            
        .form-group 
            label(for="desc") Mô tả
            textarea(
                class ="form-control"
                id="desc"
                name="description"
                rows="5"
                )
       
        .form-group.form-check.form-check-inline 
            input(
                type="radio", 
                class="form-check-input"
                id="statusActive"
                name ="status"
                value="active"
                checked
                )
            label(for="statusActive" class="form-check-label") Hoạt động
        .form-group.form-check.form-check-inline 
            input(
                type="radio", 
                class="form-check-input"
                id="statusInactive"
                name ="status"
                value="inactive"
                )
            label(for="statusInactive" class="form-check-label") Dừng hoạt động
        .form-group
            button(
                type="submit"
                class ="btn btn-primary"
            ) Tạo mới
    
    script(src="/admin/js/song.js") 